[class^="xicon-"],
[class*=" xicon-"] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 1em;
  width: 1em;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class^='xicon-']:before,
[class*=" xicon-"]:before,
[class^='xicon-']:after,
[class*=" xicon-"]:after {
  content: '';
  pointer-events: none;
  display: block;
  position: absolute;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.xicon- {
  /*     &off:before{
        height:.8em;
        width:.6em;
        border-style:solid;
        border-color:rgba(255,255,255,0) @icon-color;
        border-width:.1em;
        .border-radius(50%);
    } */
}
.xicon-user:before {
  left: .25em;
  z-index: 1;
  border-style: solid;
  border-width: 0.25em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-user:after {
  top: .6em;
  border-style: solid;
  border-width: 0.4em 0.5em;
  -webkit-border-top-left-radius: 100%;
  -moz-border-top-left-radius: 100%;
  -o-border-top-left-radius: 100%;
  border-top-left-radius: 100%;
  -webkit-border-top-right-radius: 100%;
  -moz-border-top-right-radius: 100%;
  -o-border-top-right-radius: 100%;
  border-top-right-radius: 100%;
}
.xicon-plus:before,
.xicon-plus:after {
  z-index: 1;
}
.xicon-plus:before {
  width: .7em;
  top: .4em;
  left: .15em;
  border-style: solid;
  border-width: 0.2em 0 0;
}
.xicon-plus:after {
  height: .7em;
  top: .15em;
  left: .4em;
  border-style: solid;
  border-width: 0 0 0 0.2em;
}
.xicon-minus:before {
  width: .7em;
  top: .4em;
  left: .15em;
  z-index: 1;
  border-style: solid;
  border-width: 0.2em 0 0;
}
.xicon-star {
  overflow: visible;
  top: .4em;
  border-style: solid;
  border-width: 0.36em 0.5em 0;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-star:before,
.xicon-star:after {
  top: -0.36em;
  left: -0.5em;
  border-style: solid;
  border-width: 0.36em 0.5em 0;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-star:before {
  -webkit-transform: rotate(71deg);
  -ms-transform: rotate(71deg);
  transform: rotate(71deg);
}
.xicon-star:after {
  -webkit-transform: rotate(-71deg);
  -ms-transform: rotate(-71deg);
  transform: rotate(-71deg);
}
.xicon-list {
  border-top: .2em solid;
}
.xicon-list:before,
.xicon-list:after {
  width: 1em;
  z-index: 1;
  border-style: solid;
  border-width: 0.2em 0 0;
}
.xicon-list:before {
  top: .2em;
}
.xicon-list:after {
  top: .6em;
}
.xicon-glass:before {
  height: .4em;
  width: 0;
  top: .05em;
  left: .1em;
  border-style: solid;
  border-width: 0.4em 0.4em 0.2em 0.4em;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-glass:after {
  height: .6em;
  top: .3em;
  left: .43em;
  border-style: solid;
  border-width: 0 0 0 0.14em;
}
.xicon-arrow-left:before {
  top: .2em;
  left: .1em;
  border-style: solid;
  border-width: 0.3em 0.3em 0.3em 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-arrow-left:after {
  width: .6em;
  top: .4em;
  left: .3em;
  border-style: solid;
  border-width: 0.2em 0 0;
}
.xicon-check {
  border: .1em solid;
}
.xicon-check:before {
  width: .4em;
  height: .2em;
  left: .15em;
  top: .2em;
  border-style: solid;
  border-width: 0 0 0.1em 0.1em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-unchecked {
  border-style: solid;
  border-width: 0.1em;
}
.xicon-play:before {
  left: .3em;
  top: .1em;
  border-style: solid;
  border-width: 0.4em 0 0.4em 0.4em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-pause:before {
  height: .6em;
  width: .1em;
  left: .25em;
  top: .2em;
  border-style: solid;
  border-width: 0 0.2em;
}
.xicon-stop:before {
  width: .6em;
  top: .2em;
  left: .2em;
  border-style: solid;
  border-width: 0.6em 0 0;
}
.xicon-forward:before,
.xicon-forward:after {
  top: .1em;
  border-style: solid;
  border-width: 0.4em 0 0.4em 0.4em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-forward:before {
  left: .1em;
}
.xicon-forward:after {
  left: .5em;
}
.xicon-chevron-right:before {
  height: .3em;
  width: .3em;
  top: .25em;
  left: .2em;
  border-style: solid;
  border-width: 0 0.2em 0.2em 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-pencil:before {
  left: .2em;
  top: .3em;
  width: .8em;
  border-style: solid;
  border-width: 0.2em 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-pencil:after {
  left: .1em;
  top: .7em;
  border-style: solid;
  border-width: 0.1em 0.2em 0.1em 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-lock:before {
  height: .5em;
  width: .3em;
  top: .1em;
  left: 0;
  right: 0;
  margin: auto;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  -o-border-radius: 0.1em;
  border-radius: 0.1em;
}
.xicon-lock:after {
  width: .8em;
  top: .4em;
  left: .1em;
  border-style: solid;
  border-width: 0.5em 0 0;
}
.xicon-remove-circle {
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-remove-circle:before,
.xicon-remove-circle:after {
  width: .1em;
  left: .35em;
  top: .15em;
  border-style: solid;
  border-width: 0.5em 0 0;
}
.xicon-remove-circle:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.xicon-remove-circle:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-ok-circle {
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-ok-circle:before {
  width: .4em;
  height: .2em;
  left: .15em;
  top: .2em;
  border-style: solid;
  border-width: 0 0 0.1em 0.1em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-ban-circle:before {
  width: .8em;
  height: .8em;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-ban-circle:after {
  width: 1em;
  left: 0;
  top: .45em;
  border-style: solid;
  border-width: 0.1em 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-download {
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-download:before {
  top: .55em;
  left: .2em;
  border-style: solid;
  border-width: 0.2em 0.2em 0 0.2em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-download:after {
  width: .2em;
  top: .15em;
  left: .3em;
  border-style: solid;
  border-width: 0.5em 0 0;
}
.xicon-time {
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-time:before {
  width: .2em;
  height: .3em;
  left: .35em;
  top: .1em;
  border-style: solid;
  border-width: 0 0 0.05em 0.05em;
}
.xicon-align-justify:before,
.xicon-align-justify:after {
  width: 1em;
  border-style: solid;
  border-width: 0.14em 0;
}
.xicon-align-justify:before {
  height: .7em;
}
.xicon-align-justify:after {
  height: .15em;
  top: .28em;
}
.xicon-tag:before {
  width: .1em;
  height: .1em;
  left: -0.3em;
  border-style: solid;
  border-width: 0.2em 0.5em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.xicon-tags:before {
  width: .1em;
  height: .1em;
  left: -0.3em;
  border-style: solid;
  border-width: 0.2em 0.5em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.xicon-tags:after {
  width: .7em;
  height: .45em;
  top: .13em;
  left: .15em;
  border-style: solid;
  border-width: 0.05em 0.05em 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.xicon-expand {
  border-style: solid;
  border-width: 0.1em;
}
.xicon-expand:before {
  left: .3em;
  top: .1em;
  border-style: solid;
  border-width: 0.3em 0 0.3em 0.3em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-collapse-down {
  border-style: solid;
  border-width: 0.1em;
}
.xicon-collapse-down:before {
  left: .1em;
  top: .25em;
  border-style: solid;
  border-width: 0.3em 0.3em 0 0.3em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-record {
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-record:before {
  left: .2em;
  top: .2em;
  border-style: solid;
  border-width: 0.2em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-folder-close:before {
  width: .3em;
  left: .15em;
  top: .2em;
  border-style: solid;
  border-width: 0.1em 0 0;
}
.xicon-folder-close:after {
  height: .05em;
  width: .8em;
  top: .3em;
  border-style: solid;
  border-width: 0.1em 0 0.5em;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-folder-open {
  overflow: visible;
  left: -0.2em;
  top: -0.15em;
  border-style: solid;
  border-width: 0.33333333em 0 0;
  -webkit-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}
.xicon-folder-open:before {
  -webkit-transform: scale(3.33333333, 3.33333333);
  -ms-transform: scale(3.33333333, 3.33333333);
  transform: scale(3.33333333, 3.33333333);
}
.xicon-folder-open:after {
  -webkit-transform: scale(3.33333333, 3.33333333);
  -ms-transform: scale(3.33333333, 3.33333333);
  transform: scale(3.33333333, 3.33333333);
}
.xicon-folder-open:before {
  width: .8em;
  top: 1.25em;
  left: .75em;
  border-style: solid;
  border-width: 0.4em 0 0;
  -webkit-transform: skew(-20deg) scale(3.33333333, 3.33333333);
  -ms-transform: skew(-20deg) scale(3.33333333, 3.33333333);
  transform: skew(-20deg) scale(3.33333333, 3.33333333);
}
.xicon-folder-open:after {
  height: 0;
  width: .67em;
  top: .6em;
  left: .4em;
  border-style: solid;
  border-width: 0.2em 0 0.35em 0.13em;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-font:before {
  text-align: center;
  content: 'A';
}
.xicon-bold:before {
  text-align: center;
  content: 'B';
}
.xicon-italic:before {
  width: .1em;
  left: .4em;
  border-style: solid;
  border-width: 1em 0 0;
  -webkit-transform: skewX(-5deg);
  -ms-transform: skewX(-5deg);
  transform: skewX(-5deg);
}
.xicon-italic:after {
  height: .8em;
  width: 0;
  left: .25em;
  border-style: solid;
  border-width: 0.1em 0.2em;
  border-right-color: transparent;
  border-left-color: transparent;
  -webkit-transform: skewX(-5deg);
  -ms-transform: skewX(-5deg);
  transform: skewX(-5deg);
}
.xicon-certificate {
  overflow: visible;
  border-style: solid;
  border-width: 0.5em;
  -webkit-transform: scale(0.7, 0.7) rotate(45deg);
  -ms-transform: scale(0.7, 0.7) rotate(45deg);
  transform: scale(0.7, 0.7) rotate(45deg);
}
.xicon-certificate:before {
  -webkit-transform: scale(1.42857143, 1.42857143);
  -ms-transform: scale(1.42857143, 1.42857143);
  transform: scale(1.42857143, 1.42857143);
}
.xicon-certificate:after {
  -webkit-transform: scale(1.42857143, 1.42857143);
  -ms-transform: scale(1.42857143, 1.42857143);
  transform: scale(1.42857143, 1.42857143);
}
.xicon-certificate:before,
.xicon-certificate:after {
  top: -0.5em;
  left: -0.5em;
  border-style: solid;
  border-width: 0.5em;
}
.xicon-certificate:before {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.xicon-certificate:after {
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.xicon-th-large:before,
.xicon-th-large:after {
  height: .45em;
  width: .1em;
  border-style: solid;
  border-width: 0 0.45em;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.xicon-th-large:after {
  top: .55em;
}
.xicon-flag:before {
  width: .1em;
  left: .1em;
  border-style: solid;
  border-width: 1em 0 0;
}
.xicon-flag:after {
  height: .4em;
  width: 0;
  left: .25em;
  top: .1em;
  border-style: solid;
  border-width: 0.1em 0 0 0.6em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-mail:before {
  top: .15em;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4em 0.5em 0 0.5em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-mail:after {
  top: .2em;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4em 0.5em 0.2em 0.5em;
  border-top-color: transparent;
}
.xicon-save {
  overflow: visible;
  left: .15em;
  top: -0.15em;
  border-style: solid;
  border-width: 0 0 0 0.4em;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}
.xicon-save:before {
  -webkit-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  transform: scale(2, 2);
}
.xicon-save:after {
  -webkit-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  transform: scale(2, 2);
}
.xicon-save:before {
  height: .05em;
  width: .1em;
  top: 1.35em;
  left: -0.7em;
  border-style: solid;
  border-width: 0.125em 0.2em 0.125em 0.7em;
}
.xicon-save:after {
  top: .9em;
  left: -0.5em;
  border-style: solid;
  border-width: 0.3em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-open {
  overflow: visible;
  border-style: solid;
  border-width: 0.5em;
  -webkit-transform: scale(0.2, 0.2);
  -ms-transform: scale(0.2, 0.2);
  transform: scale(0.2, 0.2);
}
.xicon-open:before {
  -webkit-transform: scale(5, 5);
  -ms-transform: scale(5, 5);
  transform: scale(5, 5);
}
.xicon-open:after {
  -webkit-transform: scale(5, 5);
  -ms-transform: scale(5, 5);
  transform: scale(5, 5);
}
.xicon-open:before {
  height: .05em;
  width: .1em;
  top: 1.6em;
  left: -0.5em;
  border-style: solid;
  border-width: 0.125em 0.2em 0.125em 0.7em;
}
.xicon-open:after {
  top: -2.3em;
  left: -0.3em;
  border-style: solid;
  border-width: 0.3em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-zoom-out {
  overflow: visible;
  top: .4em;
  left: .2em;
  border-style: solid;
  border-width: 0.25em 0 0;
  -webkit-transform: scale(0.4, 0.4) rotate(45deg);
  -ms-transform: scale(0.4, 0.4) rotate(45deg);
  transform: scale(0.4, 0.4) rotate(45deg);
}
.xicon-zoom-out:before {
  -webkit-transform: scale(2.5, 2.5);
  -ms-transform: scale(2.5, 2.5);
  transform: scale(2.5, 2.5);
}
.xicon-zoom-out:after {
  -webkit-transform: scale(2.5, 2.5);
  -ms-transform: scale(2.5, 2.5);
  transform: scale(2.5, 2.5);
}
.xicon-zoom-out:before {
  height: .5em;
  width: .5em;
  top: -0.5em;
  left: -1em;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-zoom-out:after {
  width: .3em;
  top: -0.2em;
  left: -0.82em;
  border-style: solid;
  border-width: 0.1em 0 0;
  -webkit-transform: rotate(-45deg) scale(2.5, 2.5);
  -ms-transform: rotate(-45deg) scale(2.5, 2.5);
  transform: rotate(-45deg) scale(2.5, 2.5);
}
.xicon-zoom-in {
  overflow: visible;
  top: .4em;
  left: .2em;
  border-style: solid;
  border-width: 0.25em 0 0;
  -webkit-transform: scale(0.4, 0.4) rotate(45deg);
  -ms-transform: scale(0.4, 0.4) rotate(45deg);
  transform: scale(0.4, 0.4) rotate(45deg);
}
.xicon-zoom-in:before {
  -webkit-transform: scale(2.5, 2.5);
  -ms-transform: scale(2.5, 2.5);
  transform: scale(2.5, 2.5);
}
.xicon-zoom-in:after {
  -webkit-transform: scale(2.5, 2.5);
  -ms-transform: scale(2.5, 2.5);
  transform: scale(2.5, 2.5);
}
.xicon-zoom-in:before {
  height: .5em;
  width: .5em;
  top: -0.5em;
  left: -1em;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-zoom-in:after {
  width: .1em;
  height: .1em;
  top: -0.2em;
  left: -1.75em;
  box-shadow: .3em .2em,.2em .3em,.3em .3em,.4em .3em,.3em .4em;
  -webkit-transform: rotate(-45deg) scale(2.5, 2.5);
  -ms-transform: rotate(-45deg) scale(2.5, 2.5);
  transform: rotate(-45deg) scale(2.5, 2.5);
}
.xicon-barcode:before {
  top: 0;
  left: 0;
  width: .05em;
  height: .05em;
  box-shadow: .05em .05em,.15em .05em,.25em .05em,.3em .05em,.45em .05em,.5em .05em,.55em .05em,.6em .05em,.7em .05em,.8em .05em,.85em .05em,.9em .05em,.05em .1em,.15em .1em,.25em .1em,.3em .1em,.45em .1em,.5em .1em,.55em .1em,.6em .1em,.7em .1em,.8em .1em,.85em .1em,.9em .1em,.05em .15em,.15em .15em,.25em .15em,.3em .15em,.45em .15em,.5em .15em,.55em .15em,.6em .15em,.7em .15em,.8em .15em,.85em .15em,.9em .15em,.05em .2em,.15em .2em,.25em .2em,.3em .2em,.45em .2em,.5em .2em,.55em .2em,.6em .2em,.7em .2em,.8em .2em,.85em .2em,.9em .2em,.05em .25em,.15em .25em,.25em .25em,.3em .25em,.45em .25em,.5em .25em,.55em .25em,.6em .25em,.7em .25em,.8em .25em,.85em .25em,.9em .25em,.05em .3em,.15em .3em,.25em .3em,.3em .3em,.45em .3em,.5em .3em,.55em .3em,.6em .3em,.7em .3em,.8em .3em,.85em .3em,.9em .3em,.05em .35em,.15em .35em,.25em .35em,.3em .35em,.45em .35em,.5em .35em,.55em .35em,.6em .35em,.7em .35em,.8em .35em,.85em .35em,.9em .35em,.05em .4em,.15em .4em,.25em .4em,.3em .4em,.45em .4em,.5em .4em,.55em .4em,.6em .4em,.7em .4em,.8em .4em,.85em .4em,.9em .4em,.05em .45em,.15em .45em,.25em .45em,.3em .45em,.45em .45em,.5em .45em,.55em .45em,.6em .45em,.7em .45em,.8em .45em,.85em .45em,.9em .45em,.05em .5em,.15em .5em,.25em .5em,.3em .5em,.45em .5em,.5em .5em,.55em .5em,.6em .5em,.7em .5em,.8em .5em,.85em .5em,.9em .5em,.05em .55em,.15em .55em,.25em .55em,.3em .55em,.45em .55em,.5em .55em,.55em .55em,.6em .55em,.7em .55em,.8em .55em,.85em .55em,.9em .55em,.05em .6em,.15em .6em,.25em .6em,.3em .6em,.45em .6em,.5em .6em,.55em .6em,.6em .6em,.7em .6em,.8em .6em,.85em .6em,.9em .6em,.05em .65em,.15em .65em,.25em .65em,.3em .65em,.45em .65em,.5em .65em,.55em .65em,.6em .65em,.7em .65em,.8em .65em,.85em .65em,.9em .65em,.05em .7em,.15em .7em,.25em .7em,.3em .7em,.45em .7em,.5em .7em,.55em .7em,.6em .7em,.7em .7em,.8em .7em,.85em .7em,.9em .7em,.05em .75em,.15em .75em,.25em .75em,.3em .75em,.45em .75em,.5em .75em,.55em .75em,.6em .75em,.7em .75em,.8em .75em,.85em .75em,.9em .75em,.15em .85em,.2em .85em,.25em .85em,.3em .85em,.4em .85em,.5em .85em,.55em .85em,.65em .85em,.7em .85em,.75em .85em,.8em .85em,.85em .85em;
}
.xicon-film:before {
  top: -0.1em;
  left: -0.1em;
  width: .1em;
  height: .1em;
  box-shadow: .1em .2em,.2em .2em,.3em .2em,.4em .2em,.5em .2em,.6em .2em,.7em .2em,.8em .2em,.9em .2em,1em .2em,.1em .3em,.3em .3em,.8em .3em,1em .3em,.1em .4em,.2em .4em,.3em .4em,.8em .4em,.9em .4em,1em .4em,.1em .5em,.3em .5em,.8em .5em,1em .5em,.1em .6em,.2em .6em,.3em .6em,.4em .6em,.5em .6em,.6em .6em,.7em .6em,.8em .6em,.9em .6em,1em .6em,.1em .7em,.3em .7em,.8em .7em,1em .7em,.1em .8em,.2em .8em,.3em .8em,.8em .8em,.9em .8em,1em .8em,.1em .9em,.3em .9em,.8em .9em,1em .9em,.1em 1em,.2em 1em,.3em 1em,.4em 1em,.5em 1em,.6em 1em,.7em 1em,.8em 1em,.9em 1em,1em 1em;
}
.xicon-signal:before {
  top: 0;
  left: 0;
  width: .1em;
  height: .1em;
  box-shadow: .7em .1em ,.7em .2em ,.5em .3em ,.7em .3em ,.5em .4em ,.7em .4em ,.3em .5em ,.5em .5em ,.7em .5em ,.1em .6em ,.3em .6em ,.5em .6em ,.7em .6em ,.1em .7em ,.3em .7em ,.5em .7em ,.7em .7em ,.1em .8em ,.3em .8em ,.5em .8em ,.7em .8em ;
}
.xicon-list1:before {
  top: -0.1em;
  left: -0.1em;
  width: .1em;
  height: .1em;
  box-shadow: .1em .1em,.2em .1em,.3em .1em,.4em .1em,.5em .1em,.6em .1em,.7em .1em,.8em .1em,.9em .1em,1em .1em,.1em .2em,.2em .2em,.3em .2em,.4em .2em,.5em .2em,.6em .2em,.7em .2em,.8em .2em,.9em .2em,1em .2em,.1em .3em,1em .3em,.1em .4em,.3em .4em,.5em .4em,.6em .4em,.7em .4em,.8em .4em,1em .4em,.1em .5em,1em .5em,.1em .6em,.3em .6em,.5em .6em,.6em .6em,.7em .6em,.8em .6em,1em .6em,.1em .7em,1em .7em,.1em .8em,.3em .8em,.5em .8em,.6em .8em,.7em .8em,.8em .8em,1em .8em,.1em .9em,1em .9em,.1em 1em,.2em 1em,.3em 1em,.4em 1em,.5em 1em,.6em 1em,.7em 1em,.8em 1em,.9em 1em,1em 1em;
}
.xicon-asterisk {
  overflow: visible;
  border-style: solid;
  border-width: 0 0 0 0.2em;
  left: .4em;
}
.xicon-asterisk:before,
.xicon-asterisk:after {
  z-index: 1;
}
.xicon-asterisk:before {
  width: 1em;
  left: -0.6em;
  top: .4em;
  border-style: solid;
  border-width: 0.2em 0 0 0;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.xicon-asterisk:after {
  width: 1em;
  left: -0.6em;
  top: .4em;
  border-style: solid;
  border-width: 0.2em 0 0 0;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.xicon-th-list {
  overflow: visible;
  top: -0.4em;
  border-style: solid;
  border-width: 0 0.7em 0 0.2em;
  -webkit-transform: scale(1, 0.2);
  -ms-transform: scale(1, 0.2);
  transform: scale(1, 0.2);
}
.xicon-th-list:before {
  -webkit-transform: scale(1, 5);
  -ms-transform: scale(1, 5);
  transform: scale(1, 5);
}
.xicon-th-list:after {
  -webkit-transform: scale(1, 5);
  -ms-transform: scale(1, 5);
  transform: scale(1, 5);
}
.xicon-th-list:before {
  top: 2.3em;
  left: -0.2em;
  height: .2em;
  width: .1em;
  border-style: solid;
  border-width: 0 0.7em 0 0.2em;
}
.xicon-th-list:after {
  top: 4.3em;
  left: -0.2em;
  height: .2em;
  width: .1em;
  border-style: solid;
  border-width: 0 0.7em 0 0.2em;
}
.xicon-trash {
  top: .1em;
  border-style: solid;
  border-width: 0 0.1em 0.1em 0.1em;
  -webkit-border-radius: 0 0 0.1em 0.1em;
  -moz-border-radius: 0 0 0.1em 0.1em;
  -o-border-radius: 0 0 0.1em 0.1em;
  border-radius: 0 0 0.1em 0.1em;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  overflow: visible;
}
.xicon-trash:before {
  -webkit-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
.xicon-trash:after {
  -webkit-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
.xicon-trash:before {
  border-style: solid;
  border-width: 0.08em 0.08em 0 0.08em;
  width: .3em;
  height: .1em;
  left: .18em;
  top: -0.2em;
}
.xicon-trash:after {
  border-style: solid;
  border-width: 0.1em 0 0 0;
  width: 1em;
  left: -0.1em;
}
.xicon-upload {
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-upload:before {
  top: .05em;
  left: .2em;
  border-style: solid;
  border-width: 0 0.2em 0.2em 0.2em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-upload:after {
  width: .2em;
  top: .15em;
  left: .3em;
  border-style: solid;
  border-width: 0.5em 0 0;
}
.xicon-headphones {
  border-style: solid;
  border-width: 0.1em 0.1em 0.1em 0.1em;
  -webkit-transform: scale(0.7, 0.6);
  -ms-transform: scale(0.7, 0.6);
  transform: scale(0.7, 0.6);
  -webkit-border-top-left-radius: 100%;
  -moz-border-top-left-radius: 100%;
  -o-border-top-left-radius: 100%;
  border-top-left-radius: 100%;
  -webkit-border-top-right-radius: 100%;
  -moz-border-top-right-radius: 100%;
  -o-border-top-right-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-color: transparent;
  overflow: visible;
}
.xicon-headphones:before {
  -webkit-transform: scale(1.42857143, 1.66666667);
  -ms-transform: scale(1.42857143, 1.66666667);
  transform: scale(1.42857143, 1.66666667);
}
.xicon-headphones:after {
  -webkit-transform: scale(1.42857143, 1.66666667);
  -ms-transform: scale(1.42857143, 1.66666667);
  transform: scale(1.42857143, 1.66666667);
}
.xicon-headphones:before {
  width: .2em;
  height: .3em;
  border-style: solid;
  border-width: 0 0.1em 0 0.1em;
  top: .65em;
  left: .2em;
}
.xicon-bookmark:before {
  top: .3em;
  left: .25em;
  border-style: solid;
  border-width: 0.25em;
  border-bottom-color: transparent;
  -webkit-transform: scale(1, 1.4);
  -ms-transform: scale(1, 1.4);
  transform: scale(1, 1.4);
}
.xicon-align-left:before {
  height: .4em;
  width: .7em;
  border-style: solid;
  border-width: 0.14em 0 0.14em 0;
}
.xicon-align-left:after {
  height: .4em;
  top: .25em;
  width: 1em;
  border-style: solid;
  border-width: 0.14em 0 0.14em 0;
}
.xicon-align-right:before {
  left: .3em;
  height: .4em;
  width: .7em;
  border-style: solid;
  border-width: 0.14em 0 0.14em 0;
}
.xicon-align-right:after {
  height: .4em;
  top: .25em;
  width: 1em;
  border-style: solid;
  border-width: 0.14em 0 0.14em 0;
}
.xicon-facetime-video {
  left: -0.2em;
  border-style: solid;
  border-width: 0.5em;
  -webkit-transform: scale(0.5, 0.4);
  -ms-transform: scale(0.5, 0.4);
  transform: scale(0.5, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: visible;
}
.xicon-facetime-video:before {
  -webkit-transform: scale(2, 2.5);
  -ms-transform: scale(2, 2.5);
  transform: scale(2, 2.5);
}
.xicon-facetime-video:after {
  -webkit-transform: scale(2, 2.5);
  -ms-transform: scale(2, 2.5);
  transform: scale(2, 2.5);
}
.xicon-facetime-video:before {
  top: -0.15em;
  right: -0.65em;
  border-style: solid;
  border-width: 0.2em;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-step-backward:before {
  height: .6em;
  width: .1em;
  left: .3em;
  top: .2em;
  border-left: .1em solid;
}
.xicon-step-backward:after {
  left: .1em;
  top: .2em;
  border-style: solid;
  border-width: 0.3em;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-fast-forward:before {
  left: .6em;
  top: .2em;
  border-style: solid;
  border-width: 0.3em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-fast-forward:after {
  top: .2em;
  left: .3em;
  border-style: solid;
  border-width: 0.3em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-fast-forward {
  border-right: .1em solid;
  -webkit-transform: scale(1, 0.6);
  -ms-transform: scale(1, 0.6);
  transform: scale(1, 0.6);
  right: .2em;
}
.xicon-fast-forward:before {
  -webkit-transform: scale(1, 1.66666667);
  -ms-transform: scale(1, 1.66666667);
  transform: scale(1, 1.66666667);
}
.xicon-fast-forward:after {
  -webkit-transform: scale(1, 1.66666667);
  -ms-transform: scale(1, 1.66666667);
  transform: scale(1, 1.66666667);
}
.xicon-step-forward:before {
  top: .2em;
  left: .4em;
  height: .6em;
  width: .1em;
  border-right: .1em solid;
}
.xicon-step-forward:after {
  left: .2em;
  top: .2em;
  border-style: solid;
  border-width: 0.3em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-question-sign {
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-question-sign:before {
  top: .1em;
  left: .23em;
  width: .15em;
  height: .15em;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border-left-color: transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-question-sign:after {
  width: .1em;
  height: .05em;
  border-style: solid;
  border-width: 0.2em 0 0.1em 0;
  left: .35em;
  top: .37em;
}
.xicon-arrow-right:before {
  top: .2em;
  left: .6em;
  border-style: solid;
  border-width: 0.3em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-arrow-right:after {
  top: .3em;
  left: .1em;
  height: .1em;
  width: .5em;
  border-style: solid;
  border-width: 0 0 0.2em 0;
}
.xicon-arrow-up:before {
  left: .2em;
  top: -0.2em;
  border-style: solid;
  border-width: 0.3em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-arrow-up:after {
  left: .4em;
  top: .4em;
  height: .5em;
  width: .2em;
  border-style: solid;
  border-width: 0 0 0 0.2em;
}
.xicon-comment {
  border-style: solid;
  border-width: 0.5em;
  -webkit-transform: scale(1, 0.7);
  -ms-transform: scale(1, 0.7);
  transform: scale(1, 0.7);
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  -o-border-radius: 0.1em;
  border-radius: 0.1em;
  overflow: visible;
}
.xicon-comment:before {
  -webkit-transform: scale(1, 1.42857143);
  -ms-transform: scale(1, 1.42857143);
  transform: scale(1, 1.42857143);
}
.xicon-comment:after {
  -webkit-transform: scale(1, 1.42857143);
  -ms-transform: scale(1, 1.42857143);
  transform: scale(1, 1.42857143);
}
.xicon-comment:before {
  left: -0.5em;
  top: .3em;
  border-style: solid;
  border-width: 0.2em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.xicon-magnet {
  top: .1em;
  border-style: solid;
  border-width: 0 0.2em 0.2em 0.2em;
  -webkit-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  -webkit-border-radius: 0 0 0.3em 0.3em;
  -moz-border-radius: 0 0 0.3em 0.3em;
  -o-border-radius: 0 0 0.3em 0.3em;
  border-radius: 0 0 0.3em 0.3em;
  overflow: visible;
}
.xicon-magnet:before {
  -webkit-transform: scale(1.42857143, 1.42857143);
  -ms-transform: scale(1.42857143, 1.42857143);
  transform: scale(1.42857143, 1.42857143);
}
.xicon-magnet:after {
  -webkit-transform: scale(1.42857143, 1.42857143);
  -ms-transform: scale(1.42857143, 1.42857143);
  transform: scale(1.42857143, 1.42857143);
}
.xicon-magnet:before {
  top: -0.3em;
  left: -0.18em;
  border-style: solid;
  border-width: 0.08em;
}
.xicon-magnet:after {
  top: -0.3em;
  left: .6em;
  border-style: solid;
  border-width: 0.08em;
}
.xicon-resize-vertical {
  left: .4em;
  border-left: .1em solid;
  -webkit-transform: scale(1, 0.8);
  -ms-transform: scale(1, 0.8);
  transform: scale(1, 0.8);
  overflow: visible;
}
.xicon-resize-vertical:before {
  -webkit-transform: scale(1, 1.25);
  -ms-transform: scale(1, 1.25);
  transform: scale(1, 1.25);
}
.xicon-resize-vertical:after {
  -webkit-transform: scale(1, 1.25);
  -ms-transform: scale(1, 1.25);
  transform: scale(1, 1.25);
}
.xicon-resize-vertical:before {
  top: -0.4em;
  left: -0.25em;
  border-style: solid;
  border-width: 0.2em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-resize-vertical:after {
  top: .9em;
  left: -0.25em;
  border-style: solid;
  border-width: 0.2em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-resize-horizontal {
  border-bottom: .1em solid;
  -webkit-transform: scale(0.9, 1);
  -ms-transform: scale(0.9, 1);
  transform: scale(0.9, 1);
  top: -0.5em;
  overflow: visible;
}
.xicon-resize-horizontal:before {
  -webkit-transform: scale(1.11111111, 1);
  -ms-transform: scale(1.11111111, 1);
  transform: scale(1.11111111, 1);
}
.xicon-resize-horizontal:after {
  -webkit-transform: scale(1.11111111, 1);
  -ms-transform: scale(1.11111111, 1);
  transform: scale(1.11111111, 1);
}
.xicon-resize-horizontal:before {
  left: -0.3em;
  top: .75em;
  border-style: solid;
  border-width: 0.2em;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-resize-horizontal:after {
  left: .9em;
  top: .75em;
  border-style: solid;
  border-width: 0.2em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-wrench {
  overflow: visible;
  border-left: .2em solid;
  -webkit-transform: rotate(40deg) scale(1, 0.7);
  -ms-transform: rotate(40deg) scale(1, 0.7);
  transform: rotate(40deg) scale(1, 0.7);
  left: .2em;
  top: .4em;
}
.xicon-wrench:before {
  width: .2em;
  height: .2em;
  top: -0.35em;
  left: -0.4em;
  border-style: solid;
  border-width: 0.2em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border-top-color: transparent;
}
.xicon-link:before {
  width: .2em;
  height: .4em;
  left: .4em;
  top: .1em;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 20% 10% 10% 10%;
  -moz-border-radius: 20% 10% 10% 10%;
  -o-border-radius: 20% 10% 10% 10%;
  border-radius: 20% 10% 10% 10%;
  border-right-color: transparent;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.xicon-link:after {
  width: .2em;
  height: .4em;
  left: .35em;
  top: .4em;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 20% 10% 10% 10%;
  -moz-border-radius: 20% 10% 10% 10%;
  -o-border-radius: 20% 10% 10% 10%;
  border-radius: 20% 10% 10% 10%;
  border-left-color: transparent;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.xicon-collapse-up {
  border-style: solid;
  border-width: 0.1em;
}
.xicon-collapse-up:before {
  top: -0.1em;
  left: .1em;
  border-style: solid;
  border-width: 0.3em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-log-in {
  left: .2em;
  border-style: solid;
  border-width: 0.2em;
  -webkit-transform: scale(0.7, 1);
  -ms-transform: scale(0.7, 1);
  transform: scale(0.7, 1);
  border-left-color: transparent;
  -webkit-border-radius: 0.1em 0.1em 0.1em 0.1em;
  -moz-border-radius: 0.1em 0.1em 0.1em 0.1em;
  -o-border-radius: 0.1em 0.1em 0.1em 0.1em;
  border-radius: 0.1em 0.1em 0.1em 0.1em;
  overflow: visible;
}
.xicon-log-in:before {
  -webkit-transform: scale(1.42857143, 1);
  -ms-transform: scale(1.42857143, 1);
  transform: scale(1.42857143, 1);
}
.xicon-log-in:after {
  -webkit-transform: scale(1.42857143, 1);
  -ms-transform: scale(1.42857143, 1);
  transform: scale(1.42857143, 1);
}
.xicon-log-in:before {
  top: .2em;
  left: -0.6em;
  width: .5em;
  height: .2em;
  border-top: .2em solid;
}
.xicon-log-in:after {
  right: 0em;
  top: .0em;
  border-style: solid;
  border-width: 0.3em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-saved {
  overflow: visible;
}
.xicon-saved:before {
  left: .0em;
  top: .7em;
  width: .1em;
  height: .05em;
  border-style: solid;
  border-width: 0.1em 0.2em 0.1em 0.7em;
}
.xicon-saved:after {
  width: .5em;
  height: .2em;
  left: .15em;
  top: .2em;
  border-style: solid;
  border-width: 0 0 0.1em 0.1em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-credit-card {
  overflow: visible;
  border-top: .1em solid;
  top: .2em;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.xicon-credit-card:before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.xicon-credit-card:after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.xicon-credit-card:before {
  top: .1em;
  width: .3em;
  height: .1em;
  border-style: solid;
  border-width: 0.3em 0.5em 0.1em 0.2em;
}
.xicon-stats {
  top: .2em;
  border-left: .2em solid;
  -webkit-transform: scale(1, 0.6);
  -ms-transform: scale(1, 0.6);
  transform: scale(1, 0.6);
  overflow: visible;
}
.xicon-stats:before {
  -webkit-transform: scale(1, 1.66666667);
  -ms-transform: scale(1, 1.66666667);
  transform: scale(1, 1.66666667);
}
.xicon-stats:after {
  -webkit-transform: scale(1, 1.66666667);
  -ms-transform: scale(1, 1.66666667);
  transform: scale(1, 1.66666667);
}
.xicon-stats:before {
  left: .2em;
  top: -0.3em;
  border-style: solid;
  border-width: 1em 0 0 0.2em;
}
.xicon-stats:after {
  left: .6em;
  top: -0.05em;
  border-style: solid;
  border-width: 0.8em 0 0 0.2em;
}
.xicon-cloud {
  left: -0.32em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.5em;
  -webkit-transform: scale(0.4, 0.4);
  -ms-transform: scale(0.4, 0.4);
  transform: scale(0.4, 0.4);
  box-shadow: 0.4em -0.4em 0 0.1em, 0.95em -0.3em, 1.5em -0.1em 0 0, 1em 0.2em 0 -0.1em, 0.4em 0.3em 0 -0.1em;
}
.xicon-cloud:before {
  -webkit-transform: scale(2.5, 2.5);
  -ms-transform: scale(2.5, 2.5);
  transform: scale(2.5, 2.5);
}
.xicon-cloud:after {
  -webkit-transform: scale(2.5, 2.5);
  -ms-transform: scale(2.5, 2.5);
  transform: scale(2.5, 2.5);
}
.xicon-heart {
  overflow: visible;
  top: .4em;
  border-style: solid;
  border-width: 0.56em 0.5em 0 0.5em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
.xicon-heart:before {
  -webkit-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
.xicon-heart:after {
  -webkit-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
.xicon-heart:before {
  left: -0.5em;
  top: -1em;
  border-style: solid;
  border-width: 0.25em;
  -webkit-border-top-left-radius: 100%;
  -moz-border-top-left-radius: 100%;
  -o-border-top-left-radius: 100%;
  border-top-left-radius: 100%;
  -webkit-border-top-right-radius: 100%;
  -moz-border-top-right-radius: 100%;
  -o-border-top-right-radius: 100%;
  border-top-right-radius: 100%;
  -webkit-border-bottom-left-radius: 100%;
  -moz-border-bottom-left-radius: 100%;
  -o-border-bottom-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
.xicon-heart:after {
  top: -1em;
  left: 0em;
  border-style: solid;
  border-width: 0.25em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-ok:before {
  width: .7em;
  height: .3em;
  left: .05em;
  top: .15em;
  border-style: solid;
  border-width: 0 0 0.2em 0.2em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-remove:before {
  width: .7em;
  left: .15em;
  top: .4em;
  border-style: solid;
  border-width: 0.2em 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.xicon-remove:after {
  width: .7em;
  right: .15em;
  top: .4em;
  border-style: solid;
  border-width: 0.2em 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-home:before {
  border-style: solid;
  border-width: 0 0.5em 0.5em 0.5em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-home:after {
  width: .2em;
  height: .3em;
  top: .5em;
  left: .2em;
  border-style: solid;
  border-width: 0.15em 0.2em 0;
}
.xicon-file:before {
  width: .4em;
  height: .4em;
  left: .1em;
  border-style: solid;
  border-width: 0 0 0.6em 0.4em;
}
.xicon-file:after {
  left: .6em;
  border-style: solid;
  border-width: 0 0.3em 0.3em 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-play-circle {
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-play-circle:before {
  left: .25em;
  top: .2em;
  border-style: solid;
  border-width: 0.2em 0 0.2em 0.4em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-align-center:before {
  width: .72em;
  height: .42em;
  left: .14em;
  border-style: solid;
  border-width: 0.14em 0;
}
.xicon-align-center:after {
  width: 1em;
  height: .42em;
  top: .28em;
  border-style: solid;
  border-width: 0.14em 0;
}
.xicon-align-left:before {
  width: .72em;
  height: .42em;
  border-style: solid;
  border-width: 0.14em 0;
}
.xicon-align-left:after {
  width: 1em;
  height: .42em;
  top: .28em;
  border-style: solid;
  border-width: 0.14em 0;
}
.xicon-align-right:before {
  width: .72em;
  height: .42em;
  left: .28em;
  border-style: solid;
  border-width: 0.14em 0;
}
.xicon-align-right:after {
  width: 1em;
  height: .42em;
  top: .28em;
  border-style: solid;
  border-width: 0.14em 0;
}
.xicon-map-marker:before {
  width: .4em;
  height: .4em;
  left: .2em;
  top: .1em;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-map-marker:after {
  left: .28em;
  top: .6em;
  border-style: solid;
  border-width: 0.3em 0.24em 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-adjust {
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.xicon-adjust:before {
  border-style: solid;
  border-width: 0.4em;
  -webkit-border-top-right-radius: 100%;
  -moz-border-top-right-radius: 100%;
  -o-border-top-right-radius: 100%;
  border-top-right-radius: 100%;
  -webkit-border-bottom-right-radius: 100%;
  -moz-border-bottom-right-radius: 100%;
  -o-border-bottom-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-fast-backward {
  overflow: visible;
  border-left: .1em solid;
  -webkit-transform: scale(1, 0.6);
  -ms-transform: scale(1, 0.6);
  transform: scale(1, 0.6);
  left: .2em;
}
.xicon-fast-backward:before {
  -webkit-transform: scale(1, 1.66666667);
  -ms-transform: scale(1, 1.66666667);
  transform: scale(1, 1.66666667);
}
.xicon-fast-backward:after {
  -webkit-transform: scale(1, 1.66666667);
  -ms-transform: scale(1, 1.66666667);
  transform: scale(1, 1.66666667);
}
.xicon-fast-backward:before {
  top: .2em;
  right: .6em;
  border-style: solid;
  border-width: 0.3em 0.3em 0.3em 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-fast-backward:after {
  top: .2em;
  right: .3em;
  border-style: solid;
  border-width: 0.3em 0.3em 0.3em 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-backward:before,
.xicon-backward:after {
  top: .2em;
  border-style: solid;
  border-width: 0.3em 0.3em 0.3em 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-backward:before {
  left: .2em;
}
.xicon-backward:after {
  left: .5em;
}
.xicon-eject:before {
  top: .1em;
  left: .1em;
  border-style: solid;
  border-width: 0 0.4em 0.4em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.xicon-eject:after {
  width: .8em;
  left: .1em;
  top: .6em;
  border-style: solid;
  border-width: 0.2em 0 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-chevron-left:before {
  height: .3em;
  width: .3em;
  top: .25em;
  left: .3em;
  border-style: solid;
  border-width: 0 0.2em 0.2em 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.xicon-screenshot {
  overflow: visible;
  border-style: solid;
  border-width: 0.05em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}
.xicon-screenshot:before {
  -webkit-transform: scale(1.42857143, 1.42857143);
  -ms-transform: scale(1.42857143, 1.42857143);
  transform: scale(1.42857143, 1.42857143);
}
.xicon-screenshot:after {
  -webkit-transform: scale(1.42857143, 1.42857143);
  -ms-transform: scale(1.42857143, 1.42857143);
  transform: scale(1.42857143, 1.42857143);
}
.xicon-screenshot:before {
  width: .2em;
  height: .2em;
  top: .4em;
  border-style: solid;
  border-width: 0 0.4em 0;
}
.xicon-screenshot:after {
  width: .2em;
  height: .2em;
  left: .4em;
  border-style: solid;
  border-width: 0.4em 0;
}
.xicon-arrow-down:before {
  height: .5em;
  top: .1em;
  left: .4em;
  border-style: solid;
  border-width: 0 0 0 0.2em;
}
.xicon-arrow-down:after {
  top: .6em;
  left: .2em;
  border-style: solid;
  border-width: 0.3em 0.3em 0 0.3em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-chevron-up:before {
  height: .3em;
  width: .3em;
  top: .35em;
  left: .25em;
  border-style: solid;
  border-width: 0 0.2em 0.2em 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.xicon-chevron-down:before {
  height: .3em;
  width: .3em;
  top: .2em;
  left: .25em;
  border-style: solid;
  border-width: 0 0.2em 0.2em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.xicon-tasks:before {
  width: .4em;
  height: .1em;
  left: .1em;
  top: .35em;
  border-style: solid;
  border-width: 0.05em 0.05em 0.05em 0.35em;
  -webkit-border-radius: 0.05em;
  -moz-border-radius: 0.05em;
  -o-border-radius: 0.05em;
  border-radius: 0.05em;
}
.xicon-tasks:after {
  width: .3em;
  height: .1em;
  left: .1em;
  top: .7em;
  border-style: solid;
  border-width: 0.05em 0.05em 0.05em 0.45em;
  -webkit-border-radius: 0.05em;
  -moz-border-radius: 0.05em;
  -o-border-radius: 0.05em;
  border-radius: 0.05em;
}
.xicon-filter {
  border-style: solid;
  border-width: 0.1em 0 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
.xicon-filter:before {
  -webkit-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
.xicon-filter:after {
  -webkit-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
.xicon-filter:before {
  width: 0.15em;
  left: 0.1em;
  top: 0.15em;
  border-style: solid;
  border-width: 0.3em 0.3em 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.xicon-filter:after {
  height: .2em;
  left: .4em;
  top: .5em;
  border-style: solid;
  border-width: 0 0 0.2em 0.15em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.xicon-phone:before {
  width: .5em;
  height: .65em;
  left: .15em;
  border-style: solid;
  border-width: 0.15em 0.1em 0;
  -webkit-border-radius: 0.2em 0.2em 0 0;
  -moz-border-radius: 0.2em 0.2em 0 0;
  -o-border-radius: 0.2em 0.2em 0 0;
  border-radius: 0.2em 0.2em 0 0;
}
.xicon-phone:after {
  width: .1em;
  height: .1em;
  left: .15em;
  top: .8em;
  border-style: solid;
  border-width: 0.05em 0.3em;
  -webkit-border-radius: 0 0 0.1em 0.1em;
  -moz-border-radius: 0 0 0.1em 0.1em;
  -o-border-radius: 0 0 0.1em 0.1em;
  border-radius: 0 0 0.1em 0.1em;
}
.xicon-flash:before {
  left: .15em;
  top: .2em;
  border-style: solid;
  border-width: 0.2em 0.5em 0 0.1em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-flash:after {
  left: .05em;
  top: .5em;
  border-style: solid;
  border-width: 0.2em 0.5em 0 0.1em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.xicon-search:before {
  height: .5em;
  width: .5em;
  top: .15em;
  left: .15em;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.xicon-search:after {
  left: .7em;
  top: .8em;
  width: .3em;
  border-style: solid;
  border-width: 0.1em 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.xicon-redo:before {
  height: .6em;
  width: .6em;
  top: .1em;
  left: .1em;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border-right-color: transparent;
}
.xicon-redo:after {
  top: .23em;
  left: .6em;
  border-style: solid;
  border-width: 0.2em 0.2em 0 0.2em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xicon-undo:before {
  height: .6em;
  width: .6em;
  top: .1em;
  left: .1em;
  border-style: solid;
  border-width: 0.1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border-left-color: transparent;
}
.xicon-undo:after {
  top: .23em;
  border-style: solid;
  border-width: 0.2em 0.2em 0 0.2em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
